body {
  margin: 5%;
}

.heading {
  font-size: 40px;
  text-align: right;
  font-family: sans-serif;
  margin-right: 15%;
  color: rgb(245, 168, 68);
}

.flowerName {
  text-align: center;
}

.flowerDetail {
  display: flex;
}

.jarBlock {
  height: 80px;
  width: 80px;
}

.links {
  margin-top: 20%;
}

.waterJar {
  margin-left: 50%;
}

.description {
  margin-left: 2%;
  margin-top: 25%;
  text-align: justify;
  text-justify: inter-word;
}
