body {
  margin: 5%;
}

.heading {
  font-size: 40px;
  text-align: right;
  font-family: sans-serif;
  margin-right: 15%;
  color: rgb(245, 168, 68);
}

.flowerName {
  text-align: center;
  color: rgb(245, 168, 68);
}

.flowerDetail {
  display: flex;
}

.jarBlock {
  height: 80px;
  width: 80px;
}

.links {
  margin-top: 20%;
}

.waterJar {
  margin-left: 50%;
}

.description {
  margin-left: 2%;
  margin-top: 25%;
  text-align: justify;
  text-justify: inter-word;
}

.commentBox {
  height: 60px;
  width: auto;
}

.submitButton {
  border-radius: 5px;
  height: 30px;
  width: 78px;
  margin-left: 15%;
  background-color: rgba(0, 0, 0, 0.11);
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.name {
  margin-top: -2px;
  margin-left: 10px;
  color: rgb(22, 43, 224);
  font-size: 20px;
  text-transform: capitalize;
}

.commentDate {
  margin: 10px;
  font-style: italic;
  font-size: medium;
  text-align: right;
}

.commentDetailBox {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px;
  border: 1px solid black;
  height: 23vw;
  overflow: scroll;
  border-radius: 10px;
}

.commentDetail {
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 85vw;
  height: 10vw;
}

.icon {
  margin-left: 2%;
}
.subscriber {
  padding: 5px;
  display: flex;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  justify-content: left;
  background-image: linear-gradient(rgb(250, 250, 250), rgb(200, 200, 200));
  height: 25px;
}
.comment {
  margin-left: 5%;
  height: 10vw;
  overflow: scroll;
  height: 4vw;
}
